/* DARK THEME*/
:root{
  --accent:#FFB301;
  --expo-out:cubic-bezier(0.16,1,0.3,1);

  --text-1:#ffffff;
  --text-2:#cccccc;
  --text-3:#999ca7;
  --muted:#919191;

  --bg:#111111;
  --black:#000000;
  --c1:#111111;
  --c2:#141414;
  --c3:#121212;

  --surface-1:rgba(30,30,30,.8);
  --surface-2:rgba(40,40,40,.6);
  --surface-3:rgba(40,40,40,.45);

  --border:rgba(255,255,255,.1);
  --border-soft:rgba(255,255,255,.08);

  --shadow-1:rgba(0,0,0,.5);
  --shadow-2:rgba(0,0,0,.35);

  --input-bg:rgba(255,255,255,.05);
  --input-focus-bg:rgba(63,176,255,.05);
  --input-border:rgba(255,255,255,.1);
}

/* LIGHT THEME*/
[data-theme="light"]{
  --accent:#0233d6;

  --text-1:#111111;
  --text-2:#444444;
  --text-3:#5b6b83;
  --muted:#666666;

  --bg:#f6f7f9;
  --black:#ffffff;
  --c1:#eef1f6;
  --c2:#ffffff;
  --c3:#e9eef5;

  --surface-1:rgba(255,255,255,.9);
  --surface-2:rgba(255,255,255,.85);
  --surface-3:rgba(255,255,255,.8);

  --border:rgba(0,0,0,.12);
  --border-soft:rgba(0,0,0,.08);

  --shadow-1:rgba(0,0,0,.12);
  --shadow-2:rgba(0,0,0,.08);

  --input-bg:rgba(0,0,0,.03);
  --input-focus-bg:rgba(0,0,0,.04);
  --input-border:rgba(0,0,0,.12);
}
